{erl_opts, [debug_info]}.
{project_plugins, [rebar3_proper]}.
{deps, [sync, proper]}.
{pre_hooks, [{"linux", compile, "make -C c_src"}]}.
{post_hooks, [{"linux", clean, "make -C c_src clean"}]}.

{profiles, [
    {test, [
        {deps, [
            %% hex
            {proper, "1.3.0"}
        ]}
    ]}
]}.
